p{
    font-size: 2.0rem;
}

.button {
    border-radius: 30px;
    font-size: 2.5rem;
    padding: 10px 50px;
    width: 80%;
    height:200px;
    &--primary {
        color: white; 
        border: solid 3px transparent;
        background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);
        background-origin: border-box;
        background-clip: content-box, border-box;
        box-shadow: 2px 3px 24px 2px linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);
        &:hover  {
            color: black;
            box-shadow: 2px 1000px 1px #fff inset;
            
        }
    }

    &--outline {
        color: black; 
        border: solid 3px transparent;
        box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
        border: solid 3px transparent;
        background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);
        background-origin: border-box;
        background-clip: content-box, border-box;
        box-shadow: 2px 1000px 1px #fff inset;
        &:hover  {
            box-shadow: none;
            color: white;
            
        }
    }
    
  }