<div class="container">

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h1 class="text-center mt-5" (focus)="speak('Welcome to the website')" tabindex=1>Welcome to the website!</h1>
      <br />
      <h2 class="text-center" (focus)="speak('Please select an option between speech and text to browse the website')"
        tabindex=2>Please select an option between speech and text to browse the website:</h2>
    </div>
  </div>

  <!-- <div [ngSpeechContext]="['pizza']" [ngSpeechAction]="order">
    Say "pizza" and then choose your pizza
  </div> -->

  <li [ngSpeechActionCommand]="'test'" [ngSpeechAction]="order">test
  </li>

  <div class="row mt-5 text-center">
    <div class="col-lg-6 col-md-6 col-sm-6 mb-3">
      <button type="button" class="button button--primary" (click)="useSpeechModule()"
        (focus)="speak('Speech button press if vision issue')" tabindex=3><i class="fa fa-microphone"></i>
        <span class="pl-3">Speech</span></button>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 mb-3">
      <button type="button" class='button button--outline' (click)="useTextModule()" (focus)="speak('Text')"
        tabindex=4><i class="fa fa-keyboard"></i><span class="pl-3">Text</span></button>
    </div>
  </div>
</div>
