<div class="container">
  <!--Step 1 : Speech or Text-->
  <div *ngIf="isShownStep1" class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h1 class="text-center mt-5">Welcome to the website!</h1><br/>
      <p class="text-center">Please select an option between speech and text to browse the website:</p>
    </div>
  </div>

  <div *ngIf="isShownStep1" class="row mt-5 text-center">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <button type="button" (click)="speechBtn()">Speech</button>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <button type="button" (click)="textBtn()" class="">Text</button>
    </div>
  </div>

  <!--Step 1 : Register or Login-->
  <div *ngIf="isShownStep2" class="row container-fluid"  id="divshow" >
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h1 class="text-center mt-5">Welcome to the website!</h1><br/>
      <p class="text-center">Please select an option between register and login to proceed:</p>
    </div>
  </div>

  <div *ngIf="isShownStep2" class="row mt-5 text-center">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <button type="button" (click)="registerBtn()">Register</button>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <button type="button" (click)="loginBtn()" class="">Login</button>
    </div>
  </div>
</div>