<div class="row mt-3 mr-2 ml-2">
  <div class="col-lg-3 col-md-3 col-sm-3 text-center mb-3 wow slideInLeft" data-wow-delay="0.1s">
    <button class="button button--primary mr-2" (click)="backToHomepage()" [ngSpeechActionCommand]="'backToHomepage'"
      [ngSpeechAction]="'back'" (focus)="speak('Press enter or say back to redirect back', true)" tabindex=3>Back</button>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-9 text-center mb-9">

  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-12" role="heading">
      <h1 class="text-center" (focus)="speak('Create your account', false)" tabindex=4>Create your account</h1>
    </div>
  </div>

  <div class="row mt-3 p-4 wow bounceInUp" data-wow-delay="0.5s">
    <div class="col-lg-2 col-md-2 col-sm-2"></div>
    <div class="col-lg-8 col-md-8 col-sm-8">
      <div class="card">
        <div class="row">
          <div class="col-12">
            <h2 class="text-center card-header registerHeader"
              (focus)="speak('Please register to access your dashboard', false)" tabindex=5>Please register to access
              your dashboard</h2>
          </div>
        </div>

        <!-- <form> -->
        <div class="pr-3 pl-3 mt-3">
          <div class="form-group">
            <label for="new_user_fullname" class="labelSize" (focus)="speak('Full name', false)" tabindex=6>Full
              name</label>
            <input type="text" class="form-control form-control-lg" id="new_user_fullname"
              aria-describedby="new_user_fullname_help" placeholder="ex: John Doe" [(ngModel)]="newUser.fullname"
              required (focus)="speak('Enter Full name', false)" tabindex=7>
            <small id="new_user_fullname_help" class="helpSize form-text text-muted">Please enter your full name</small>
          </div>

          <div class="form-group">
            <label for="new_user_email" class="labelSize" (focus)="speak('Email', false)" tabindex=8>Email</label>
            <input type="email" class="form-control form-control-lg" id="new_user_email"
              aria-describedby="new_user_email_help" placeholder="ex: user@email.com" [(ngModel)]="newUser.email"
              required (focus)="speak('Enter Email', false)" tabindex=9>
            <small id="new_user_email_help" class="helpSize form-text text-muted">Please enter your email</small>
          </div>

          <div class="form-group">
            <label for="new_user_password" class="labelSize" (focus)="speak('Password', false)"
              tabindex=10>Password</label>
            <input type="password" class="form-control form-control-lg" id="new_user_password"
              aria-describedby="new_user_password_help" placeholder="ex: password" [(ngModel)]="newUser.password"
              required (focus)="speak('Enter Password', false)" tabindex=11>
            <small id="new_user_password_help" class="helpSize form-text text-muted">Please enter your password</small>
          </div>

          <div class="form-group">
            <label for="new_user_confirm_password" class="labelSize" (focus)="speak('Confirm Password', false)"
              tabindex=12>Confirm Password</label>
            <input type="password" class="form-control form-control-lg" id="new_user_confirm_password"
              aria-describedby="new_user_confirm_password_help" placeholder="ex: password"
              [(ngModel)]="newUser.confirmpassword" required (focus)="speak('Enter Confirm Password', false)"
              tabindex=13>
            <small id="new_user_confirm_password_help" class="helpSize form-text text-muted">Please confirm your
              password</small>
          </div>
        </div>

        <div class="row mb-3 mr-2 ml-2">
          <div class="col-lg-6 col-md-6 col-sm-6 text-center mb-3">
            <button class="button button--primary mr-2" (click)="create_new_user()"
              [ngSpeechActionCommand]="'create_new_user'" [ngSpeechAction]="'create'"
              (focus)="speak('Create my account, press enter or say create via your microphone', true)"
              tabindex=14>Create my account</button>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 text-center mb-3">
            <button class="button button--outline" (click)="reset_new_user()" [ngSpeechActionCommand]="'reset_new_user'"
              [ngSpeechAction]="'reset'"
              (focus)="speak('reset my account, press enter or say reset via your microphone', true)"
              tabindex=15>Reset</button>
          </div>
        </div>
        <!-- </form>  -->

      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2"></div>
  </div>
</div>
<br /><br /><br />
