nav{
    border-bottom: 1px solid whitesmoke;
}

.navHeader{
    text-decoration: none !important;
    color: black !important;
}

.page-footer{
    background-color: black;
    color:white;
    position: fixed;
    bottom: 0;
    width: 100%;
}