nav{
    border-bottom: 1px solid whitesmoke;
}

@media screen and (min-width: 600px) {
    .navDesktop{
        display:none;
    }
}

.navHeader{
    text-decoration: none !important;
    color: black !important;
}

.page-footer{
    background-color: black;
    color:white;
}