
h1{
    font-size: 65px !important;
}

h2{
    font-size: 45px !important;
}

h3{
    font-size: 35px !important;
}

@import "node_modules/bootstrap/scss/bootstrap";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: var(--background-color);
}
h1,h2,h3,h4,h5,h6,span,p,.text-mode {
	color: var(--text-color);
}

.labelSize{
    font-size:30px;
}

.helpSize{
    font-size: 20px;
}

.button {
    border-radius: 30px;
    // font-size: 2.5rem;
    padding: 10px 50px;
    // width: 80%;
    // height:200px;
    &--primary {
        color: white; 
        border: solid 3px transparent;
        background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);
        background-origin: border-box;
        background-clip: content-box, border-box;
        box-shadow: 2px 3px 24px 2px linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);
        &:hover  {
            color: black;
            box-shadow: 2px 1000px 1px #fff inset;
            
        }
    }

    &--outline {
        color: black; 
        border: solid 3px transparent;
        box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
        border: solid 3px transparent;
        background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);
        background-origin: border-box;
        background-clip: content-box, border-box;
        box-shadow: 2px 1000px 1px #fff inset;
        &:hover  {
            box-shadow: none;
            color: white;
            
        }
    }
    
  }
