
h1{
    font-size: 65px !important;
}

h2{
    font-size: 45px !important;
}

h3{
    font-size: 35px !important;
}

@import "node_modules/bootstrap/scss/bootstrap";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: var(--background-color);
}
h1,h2,h3,h4,h5,h6,span,p {
	color: var(--text-color);
}

.labelSize{
    font-size:30px;
}

.helpSize{
    font-size: 20px;
}