.navStyle{
    background-color: #808080;
    height: 150px;
    color: #ffffff;
}

.navSelection{
    background-color: #545654;
    height: 150px;
}

.paddingNav{
    padding-left: 70px;
    padding-right: 70px;
}

.paddingNavBetween{
    padding-left: 70px;
}

.addLike{
    color:blue;
}

.navLinks, .navLinks:hover{
    color:#ffffff;
    text-decoration: none !important;
}

@media screen and (max-width: 600px) {
    .navLinks{
        display:none;
    }
    .navStyle{
        display: none;
    }
}

textarea {
    resize: none;
}

.cameraBtn{
    padding-left: 0px;
    padding-right: 0px;
    background-color: white;
    border: none;
    img {
        margin-bottom: 30px;
    }
}

.card {
    &-mode,.cameraBtn {
        background-color: var(--card-color);
    }
    .row-flex {
        align-items: flex-end;
    }
}