<nav class="navStyle">
  <div class="container-fluid paddingNav">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3 text-center">
        <a href="" class="navLinks">
          <div class="navSelection pt-3">
            <span><i class="fa fa-home fa-4x"></i></span><br/>
            <h3>Home</h3>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 text-center paddingNavBetween">
        <a href="" class="navLinks">
          <div class="navSelection pt-3">
            <span><i class="fa fa-edit fa-4x"></i></span><br/>
            <h3>My Posts</h3>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 text-center paddingNavBetween">
        <a href="" class="navLinks">
          <div class="navSelection pt-3">
            <span><i class="fa fa-cog fa-4x"></i></span><br/>
            <h3>Settings</h3>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 text-center paddingNavBetween">
        <a href="" class="navLinks">
          <div class="navSelection pt-3">
            <span><i class="fa fa-sign-out-alt fa-4x"></i></span><br/>
            <h3>Logout</h3>
          </div>
        </a>
      </div>
    </div>
  </div>
</nav>

<!--Create Post-->
<div class="container-fluid">
  <div class="row mt-5 mb-5">
    <div class="col-lg-3 col-md-3 col-sm-3"></div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="card">
        <form>
          <div class="form-group">
            <textarea class="form-control" id="post" rows="5" placeholder="Type something..."></textarea>
          </div>
          <div class="row mb-2">
            <div class="col-lg-3 col-md-3 col-sm-3 pl-4">
              <button type="button" class="cameraBtn">
                <i class="fa fa-camera fa-2x"></i>
              </button>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 pr-4">
              <button type="submit" class="btn btn-primary float-right">Upload</button>
            </div>
          </div>
          
        </form>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3"></div>
  </div>
</div>

<!--Posts-->
<div class="container-fluid">
  <div class="row mt-5 mb-5">
    <div class="col-lg-3 col-md-3 col-sm-3"></div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="card">
        <h3>Full Name</h3>
        <h5>24 June 2024</h5>
        <!-- <img class="card-img-top" src="..." alt="Post image"> -->
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            
            <p class="card-text" style="font-size: 1.5rem">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </p>
            <hr>
            <span><i class="fa fa-thumbs-up fa-2x"></i></span> 1000 likes
          </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3"></div>
  </div>
</div>