<!--Create Post-->
<div class="container-fluid">
  <div class="row mt-5 mb-5">
    <div class="col-lg-3 col-md-3 col-sm-3"></div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="card card-mode">
        <div class="form-group">
          <label for="post" class='sr-only'>Enter your posts</label>
          <textarea class="form-control" id="post" rows="5" placeholder="Type something..." [(ngModel)]="post.description"></textarea>
        </div>
        
        <div class="row mb-2 row-flex">
          <div class="col-lg-3 col-md-3 col-sm-3 pl-4">
            <button type="button" class="cameraBtn">
              <!-- <i class="fa fa-camera fa-2x"></i> -->

              <img *ngIf="url.length" [src]="url" height="200">
              <input type='file' accept="image/x-png,image/jpeg" (change)="onSelectFile($event)">
            </button>
          </div>
          
          <div class="col-lg-9 col-md-9 col-sm-9 pr-4">
            <button class="button button--outline float-right" (click)="createPost()">Upload</button>
          </div>
        </div>

      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3"></div>
  </div>
</div>

<!--Posts-->
<div class="container-fluid" *ngIf="post_list.length" role="presentation">
  <div class="row mt-5 mb-5" *ngFor="let postitem of post_list;">
    <div class="col-lg-3 col-md-3 col-sm-3"></div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <app-post [post]="postitem"></app-post>
      <!-- [post] -->
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3"></div>
  </div>
</div>

<br/><br/>